/* Root Container */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #f0f2f5;
  min-height: 100vh;
}

/* Header Styling */
h1 {
  font-size: 32px;
  color: #007bff;
  margin-bottom: 20px;
  font-weight: bold;

}

/* Post List */
.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 20px;
}

/* Logo Styling */
.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms, transform 0.3s ease-in-out;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  transform: scale(1.1);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Animation */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Card Styling */
.card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2em;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

/* Read the Docs Section */
.read-the-docs {
  color: #888;
  font-style: italic;
}
